<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="thumbnail">
        <h3 class="text-center"><%= @puppy.name%></h3>
        <img src="<%= @puppy.image_url%>" alt="Puppy Image">
      <div class="caption">
        <p>
          <h5>Age:<span class="pull-right"><%= @puppy.age%></span></h5>
            
        </p>
        <p>
          <h5>Bio:<span><%= @puppy.bio%></span></h5> 
            
        </p>
        <p>
          <button class="pull-left btn btn-success btn-large btn-large showBtn"><%= link_to "Edit", edit_puppy_path(@puppy) %></button>
          <button class="btn showBtn pull-right btn-danger"><%= link_to "Destroy", puppy_path(@puppy), method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>