<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="thumbnail">
        <h3 class="text-center"><%= @puppy.name%></h3>
        <img src="<%= @puppy.image_url%>" alt="Puppy Image">
      <div class="caption">
        <p>
          <h5>Age:<span class="pull-right"><%= @puppy.age%></span></h5>
            
        </p>
        <p>
          <h5>Bio:<span><%= @puppy.bio%></span></h5> 
            
        </p>
        <p>
          <span><%= link_to "Edit", edit_puppy_path(@puppy), class: "btn btn-success btn-lg showBtn" %></span>
          <span><%= link_to "Destroy", puppy_path(@puppy), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn showBtn btn-danger btn-lg" %></span>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>