<!DOCTYPE html>
<html>
<head>
  <title>SfPuppyRescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    
      <span><%= link_to "Home", "/", class:"btn btn-info"  %></span>
      <span><%= link_to "About", "/about", class:"btn btn-info" %></span>
      <span><%= link_to "Contact", "/contact", class:"btn btn-info"  %></span>
      <span><%= link_to "Add Puppy", "/puppies/new", class:"btn btn-info"  %></span>
      
      <!-- ADD CONTACT AND ABOUT PAGES -->
    </div>
  </div>
</div>

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>