<!DOCTYPE html>
<html>
<head>
  <title>SfPuppyRescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    <% @puppies.each do |p| %>
      <span class="btn btn-info"> <%= link_to "About", "/puppies/about" %></span>
      <span class="btn btn-info"> <%= link_to "Contact", "/puppies/contact" %></span>
      <a class="btn btn-info" href="/puppies/about">About</a>
      <a class="btn btn-info" href="/puppies/contact">Contact</a>
      <!-- ADD CONTACT AND ABOUT PAGES -->
      <% end %>
    </div>
  </div>
</div>

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
